[deluge]
Host = deluge.local
Port = 58846
Username = deluge
Password = deluge_super_password
LabelId = deluge-telegram
LabelEnable = true
[telegram]
Token = 1111:token
UserIds = telegram_user_id_1,telegram_user_id_2
[logging]
Level = INFO
[socks5]
Host = hide.my.ass
Port = 443
Username = suck_rkn
Password = secure_password